services:
  db:
    image: postgres:18
    restart: always
    environment:
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: bookshelf
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/

volumes:
  postgres_data:
